Form#change-password {
  width: 30%;
  height: 75vh;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
}
.txt-color {
  color: #2a233c;
}
.btn-color {
  background-color: #ff0072;
  color: #fff;
  border: none;
}
.btn-color:hover {
  background-color: #e20166 !important;
}
