.content {
  display: flex;
  background-color: #e7e7e7;
}
.form-search-pdi {
  position: relative;
}
.all-results {
  text-decoration: underline;
  color: #58487e;
}
.all-results:hover {
  text-decoration: underline;
  color: #2a233c;
  cursor: pointer;
}
.form-control-pdi {
  position: absolute;
  display: block;
  text-align: center;
  line-height: 1.975rem;
  pointer-events: none;
  color: #9ca3af;
  width: 2.375rem;
}

.form-input-pdi {
  padding-left: 1.1rem;
  height: 30px;
  text-indent: 20px;
  border-radius: 10px;
}

.form-input-pdi:focus {
  box-shadow: none;
  border: none;
}
.listpdi {
  max-height: 70vh;
  overflow-y: auto;
  margin-bottom: 0;
}
.navbar {
  color: #fff;
  background-color: #2a233c;
}
.addpdi {
  background-color: #ff0072;
  color: #fff;
  border: none;
}

.no-shadow:focus {
  box-shadow: none;
}

.addpdi:hover {
  background-color: #e20166 !important;
  color: #fff;
}
.pdilist-trash {
  color: #da1d1d;
  border: none;
  font-size: small;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.pdilist-pencil {
  margin-right: 0.4rem;
  color: #000;
  border: none;
  font-size: small;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.buttons {
  height: 100%;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
}
.list-group-item:focus {
  border-color: #000;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1%;
}
.modal-custom {
  width: 60vw; /* Occupy the 60% of the screen width */
  max-width: 60vw;
}
.modal-header-custom {
  width: 95%;
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.input-custom {
  border: 0;
  width: 100%;
}

.action-buttons {
  margin-right: 0.75rem;
}
