.content {
  display: flex;
  background-color: #e7e7e7;
}
.form-search-camera {
  position: relative;
}
.listpdi {
  max-height: 87vh;
  overflow-y: scroll;
}
.navbar {
  color: #fff;
  background-color: #2a233c;
}
.addpdi {
  background-color: #ff0072;
  color: #fff;
  border: none;
}

.no-shadow:focus {
  box-shadow: none;
}

.addpdi:hover {
  background-color: #e20166;
  color: #fff;
}
.pdilist-trash {
  color: #da1d1d;
  border: none;
  font-size: small;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.pdilist-pencil {
  margin-right: 0.4rem;
  color: #000;
  border: none;
  font-size: small;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.buttons {
  height: 100%;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 1%;
}
.modal-custom {
  width: 60vw; /* Occupy the 60% of the screen width */
  max-width: 60vw;
}
.modal-header-custom {
  width: 95%;
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.input-custom {
  border: 0;
  width: 100%;
}
