.back {
  color: red;
}

.position {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edgebutton {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid #b40e02;
  color: #b40e02;
}

.body {
  background: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}
