.camera-form-error {
  font-size: 0.8rem;
  color: red;
}

.listCamera {
  max-height: 80vh;
  width: 80%;
  overflow-y: scroll;
}

.item {
  cursor: pointer;
}

.listGroupItemCamera {
  display: flex;
  justify-content: space-between;
}

.cameraListView {
  margin-right: 0.4rem;
  color: #000;
  border: none;
  font-size: small;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

#flexRadioDefault1 {
  cursor: pointer;
}
