.area-navs {
  margin: auto;
  width: 90%;
}

.vision {
  width: 100%;
  height: 400px;
  padding: 2%;
  background-color: #ffff;
}

.nav-link {
  cursor: pointer;
}

.active {
  color: #000000 !important;
}
