@import "bootstrap/dist/css/bootstrap.min.css";

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #606060;
}

.bg-white {
  width: 100%;
  background-color: #fff;
}
