.guide {
  margin-right: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  background: #fff;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
  border: 2px solid #fff;
}
.login-guide {
  right: 0;
}
.loginlogo {
  align-self: flex-end !important;
}
