Form#forgot-password {
  width: 100%;
  height: 90vh;
  background: #fff;
  margin: auto;
}

.inputPerson:focus {
  /* box-shadow: none !important; */
  border: 1px solid;
  border-color: #ff0072;
  box-shadow: 0 0 3px #ff0072;
}
