.listPipeline {
  max-height: 75vh;
  overflow-y: auto;
}

.edit {
  display: flex;
}

.excludeButton {
  cursor: pointer;
}

.list:hover {
  background-color: #fffdfdd8;
}

.labelMain {
  margin-top: 25px;
  text-align: center;
}
