.listPipeline {
  max-height: 70vh;
  overflow-y: auto;
}

.edit {
  display: flex;
}

.excludeButton {
  cursor: pointer;
}

.list:hover {
  background-color: #fffdfdd8;
}

.labelMain {
  margin-top: 25px;
  text-align: center;
}
.range {
  width: 100%;
  display: flex;
  align-items: center;
}

.list {
  padding: 0;
}
