.content {
  display: flex;
}

.content-body {
  width: 100%;
}
.container-body {
}

.contentbar .navbar {
  background-color: rgba(116, 116, 116, 0.281);
  /* box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.644); */
  /* z-index: -1; */
  /* position: sticky;
  top:20px; */
}

.contentbar {
  background-color: aliceblue;
}
.row-body {
}

.inputvideo {
  width: 100%;
}

.accordeon-pdi {
  width: 100%;
}

.pipeline-card {
  max-height: 87vh;
  overflow-y: auto;
}

.pipeline-header {
  background-color: #8257e5;
  color: white;
}

.pipeline-name {
  width: 20%;
}

.pipeline-save {
  width: 20%;
}

.card-item {
  background-color: #fdfdfd;
  cursor: pointer;
}

.card-icon:hover {
  background-color: #bebebe;
  cursor: pointer;
}
.card-item:hover {
  background-color: #f1f1f1;
}
.card-trash {
  color: red;
}
.history {
  color: rgb(38, 0, 255);
  font-size: small;
}

.b1 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-video {
  background-color: rgb(187, 187, 187);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ab {
  padding: 0;
}
.tooltip > div.tooltip-inner {
  background-color: white !important;
  color: black !important;
  border: 0.1rem solid #cccccc;
}

[data-tooltip] {
  position: relative;
  font-weight: normal;
}

[data-tooltip]:after {
  display: none;
  position: absolute;
  top: 0;
  padding: 5px;
  border-radius: 3px;
  left: calc(100% + 2px);
  content: attr(data-tooltip);
  white-space: nowrap;
  background-color: #0095ff;
  color: White;
}

[data-tooltip]:hover:after {
  display: block;
}

.video {
  background-color: black;
  width: 340px;
  height: 240px;
}

.warning {
  width: 100%;
  color: red;
  font-size: smaller;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  .sidebar-component {
    display: none;
  }
}
