.content {
  display: flex;
}

.content-body {
  width: 100%;
  background-color: rgb(231, 231, 231);
}
.container-body {
}

.custom-select {
  border: solid 1px rgb(185, 185, 185);
}

.contentbar .navbar {
  background-color: #2a233c;
  color: #fff;
  /* border-bottom: solid 3px rgba(37, 37, 37, 0.137); */
  /* box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.644); */
  /* z-index: -1; */
  /* position: sticky;
  top:20px; */
}

.contentbar {
  background-color: aliceblue;
}
.row-body {
}

.inputvideo {
  width: 100%;
}

.accordeon-pdi {
  width: 100%;
}

.pipeline-card {
  max-height: 87vh;
  overflow-y: auto;
}

.pipeline-card input {
  font-size: 1rem;
}

.pipeline-header {
  display: flex;
  background-color: #fff;
  color: #2a233c;
  justify-content: space-between;
  align-items: center;
}
.pipeline-header2 {
  display: flex;
  background-color: #fff;
  color: #2a233c;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  height: 3rem;
}

.pipeline-name {
  color: #fff;
  width: 20%;
}

.pipeline-save {
  width: 20%;
}

.card {
  font-size: 0.9rem;
}
.card-pipe {
  /* border-left: double 3px gray; */
}
.card-button {
  font-size: medium;
}
.card-item {
  background-color: #fdfdfd;
  cursor: pointer;
}

.card-icon:hover {
  background-color: #bebebe;
  cursor: pointer;
}
.card-item:hover {
  background-color: #f1f1f1;
}
.card-trash {
  color: rgb(231, 231, 231);
  background: red;
  background: radial-gradient(
    circle,
    red 46%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
}
.card-trash:hover {
  background-color: #fff;
  color: rgb(192, 6, 6);
  transition: all 0.5s;
}
list-button {
  font-size: 1.4rem;
}
.list-group-pipeline {
  max-height: 38vh;
  overflow-y: auto;
}
.list-group button:focus {
  border: none;
}
i {
  color: #fff;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 46%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 100%;
}
i:hover {
  color: #8257e5;
  background: radial-gradient(
    circle,
    rgb(240, 237, 237) 46%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  cursor: pointer;

  transition: all 0.5s;
}

.save-btn {
  color: #fff;
  background-color: #ff0072;
}
.save-btn:hover {
  background-color: #ff0073b9 !important;
}
.history {
  margin-right: 1rem;

  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: small;
  cursor: pointer;
}

.history:hover {
  color: rgb(147, 194, 255);
}

.p-delete {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: small;
  cursor: pointer;
}

.p-delete:hover {
  color: rgb(255, 0, 0);
}

.b1 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-video {
  width: 106%;
}
.ab {
  padding: 0;
}

.accordion-button {
  font-size: 1rem;
  background-color: #2a233c !important;
  color: #fff;
}
.accordion-button:focus {
  background-color: #2a233c !important;
  color: #fff;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #fff;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.tooltip > div.tooltip-inner {
  background-color: white !important;
  color: black !important;
  border: 0.1rem solid #cccccc;
}

[data-tooltip] {
  position: relative;
  font-weight: normal;
}

[data-tooltip]:after {
  display: none;
  position: absolute;
  top: 0;
  padding: 5px;
  border-radius: 3px;
  left: calc(100% + 2px);
  content: attr(data-tooltip);
  white-space: nowrap;
  background-color: #0095ff;
  color: White;
}

[data-tooltip]:hover:after {
  display: block;
}

.video {
  background-color: black;
  width: 340px;
  height: 240px;
}

.warning {
  width: 100%;
  color: #000;
  font-size: smaller;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  .sidebar-component {
    display: none;
  }
}
.li {
  width: 30px;
  height: 30px;
  padding-left: 20px;
}
menu button {
  background-color: #ff0072;
  color: #fff;
  transition: all 450ms cubic-bezier(0.4, 0.25, 0.3, 1.3);
  width: 30px;
  height: 30px;
  top: 0;

  transform: translateX(-93%);
  border: 1px solid #ff0072;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

menu button span {
  transition: all 400ms cubic-bezier(0.4, 0.25, 0.3, 1.3) 100ms;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 40px;
  vertical-align: middle;
}

menu button span:first-of-type {
  font-size: 1.3rem;
  transform: translate(-50%, -60%);
}

menu button span:last-of-type {
  transform: translate(-50%, 50%);
}

menu button:hover {
  z-index: 1;
  width: 220px;
  border-radius: 4px;
}

menu button:hover span:first-of-type {
  transform: translate(-50%, -150%);
}
menu button:hover span:last-of-type {
  transform: translate(-50%, -50%);
}

.input-create {
  border-radius: 4px 0 0 4px !important;
}

.btn-create {
  border-radius: 0 4px 4px 0 !important;
}
.empty-pipeline {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9b9b9b;
}
.required {
  color: red;
}

.select-pipeline {
  width: 120px;
}
