.modal {
  height: 70vh;
  overflow-y: scroll;
}

.error {
  font-size: 0.8rem;
  color: red;
}

.trash {
  font-size: 0.8rem;
  color: #da1d1d;
}

.trash:hover {
  color: red;
}

.editname {
  color: rgb(155, 155, 155);
}
.btnparam:hover {
  background-color: #fff;
  color: #000;
}
.btnparam:focus {
  box-shadow: none;
}
.formTxt {
  display: flex;
  width: 98%;
  align-items: center;
  padding-left: 0.89rem;
  padding-bottom: 1rem;
}
.formPdi {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 1rem;
}
.formDescLabel {
  width: 30vh;
}
.modalHeader {
  width: 96%;
  display: flex;
  justify-content: space-between;
}
